BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 2db67d53c3ea

CREATE EXTENSION IF NOT EXISTS postgis;

CREATE EXTENSION IF NOT EXISTS pg_trgm;

INSERT INTO alembic_version (version_num) VALUES ('2db67d53c3ea') RETURNING alembic_version.version_num;

-- Running upgrade 2db67d53c3ea -> 6d02f3b18564

CREATE TABLE guides (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    phone_number VARCHAR(32), 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE knowledge_type_config (
    id UUID NOT NULL, 
    knowledge_type VARCHAR(100) NOT NULL, 
    display_name VARCHAR(255) NOT NULL, 
    freshness_window_hours INTEGER NOT NULL, 
    aging_threshold_hours INTEGER, 
    geographic_relevance_radius_meters INTEGER NOT NULL, 
    default_priority INTEGER NOT NULL, 
    safety_critical BOOLEAN NOT NULL, 
    active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (knowledge_type)
);

CREATE TABLE locations (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    latitude NUMERIC(9, 6) NOT NULL, 
    longitude NUMERIC(9, 6) NOT NULL, 
    geog geography(POINT,4326) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX idx_locations_geog ON locations USING gist (geog);

CREATE TABLE guide_locations (
    id UUID NOT NULL, 
    guide_id UUID NOT NULL, 
    latitude NUMERIC(9, 6) NOT NULL, 
    longitude NUMERIC(9, 6) NOT NULL, 
    geog geography(POINT,4326) NOT NULL, 
    accuracy_meters FLOAT, 
    recorded_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    received_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(guide_id) REFERENCES guides (id) ON DELETE CASCADE
);

CREATE INDEX idx_guide_locations_geog ON guide_locations USING gist (geog);

CREATE INDEX ix_guide_locations_guide_id_recorded_at ON guide_locations (guide_id, recorded_at);

CREATE TABLE submissions (
    id UUID NOT NULL, 
    guide_id UUID NOT NULL, 
    latitude NUMERIC(9, 6), 
    longitude NUMERIC(9, 6), 
    submitted_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    submission_type VARCHAR(100) NOT NULL, 
    raw_text TEXT, 
    status VARCHAR(50) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(guide_id) REFERENCES guides (id) ON DELETE CASCADE
);

CREATE TABLE observations (
    id UUID NOT NULL, 
    submission_id UUID NOT NULL, 
    guide_id UUID NOT NULL, 
    knowledge_type_id UUID NOT NULL, 
    latitude NUMERIC(9, 6), 
    longitude NUMERIC(9, 6), 
    geog geography(POINT,4326), 
    value JSONB NOT NULL, 
    confidence NUMERIC(3, 2), 
    observed_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(guide_id) REFERENCES guides (id) ON DELETE CASCADE, 
    FOREIGN KEY(knowledge_type_id) REFERENCES knowledge_type_config (id) ON DELETE RESTRICT, 
    FOREIGN KEY(submission_id) REFERENCES submissions (id) ON DELETE CASCADE
);

CREATE INDEX idx_observations_geog ON observations USING gist (geog);

UPDATE alembic_version SET version_num='6d02f3b18564' WHERE alembic_version.version_num = '2db67d53c3ea';

-- Running upgrade 6d02f3b18564 -> f73d25cbe979

INSERT INTO knowledge_type_config (id, knowledge_type, display_name, freshness_window_hours, aging_threshold_hours, geographic_relevance_radius_meters, default_priority, safety_critical, active) VALUES ('804dbf53-961b-4a6d-83da-b819483a756c', 'weather', 'Weather', 6, 3, 10000, 5, true, true);

INSERT INTO knowledge_type_config (id, knowledge_type, display_name, freshness_window_hours, aging_threshold_hours, geographic_relevance_radius_meters, default_priority, safety_critical, active) VALUES ('cfd8a853-4b89-492d-b7fa-5bc21ada56cf', 'trail_condition', 'Trail Condition', 72, 24, 2000, 4, false, true);

INSERT INTO knowledge_type_config (id, knowledge_type, display_name, freshness_window_hours, aging_threshold_hours, geographic_relevance_radius_meters, default_priority, safety_critical, active) VALUES ('43ea4614-af2c-4bdb-b6db-27d633274994', 'snow_ice', 'Snow / Ice', 24, 12, 2000, 5, true, true);


UPDATE alembic_version SET version_num='f73d25cbe979' WHERE alembic_version.version_num = '6d02f3b18564';

-- Running upgrade f73d25cbe979 -> 267b83a63bb4

ALTER TABLE guides ADD COLUMN client_guide_id VARCHAR(255);

ALTER TABLE guides ADD CONSTRAINT uq_guides_client_guide_id UNIQUE (client_guide_id);

ALTER TABLE submissions ADD COLUMN client_submission_id VARCHAR(255);

ALTER TABLE submissions ADD CONSTRAINT uq_submissions_client_submission_id UNIQUE (client_submission_id);

UPDATE alembic_version SET version_num='267b83a63bb4' WHERE alembic_version.version_num = 'f73d25cbe979';

-- Running upgrade 267b83a63bb4 -> 74f86d4e7056

ALTER TABLE guide_locations ADD COLUMN client_location_id VARCHAR(255);

ALTER TABLE guide_locations ADD CONSTRAINT uq_guide_locations_client_location_id UNIQUE (client_location_id);

UPDATE alembic_version SET version_num='74f86d4e7056' WHERE alembic_version.version_num = '267b83a63bb4';

-- Running upgrade 74f86d4e7056 -> b7012b9ff307

ALTER TABLE submissions ADD COLUMN client_audio_id VARCHAR(255);

ALTER TABLE submissions ADD COLUMN audio_storage_key VARCHAR(500);

ALTER TABLE submissions ADD COLUMN audio_content_type VARCHAR(100);

ALTER TABLE submissions ADD COLUMN audio_original_filename VARCHAR(255);

ALTER TABLE submissions ADD COLUMN audio_size_bytes INTEGER;

ALTER TABLE submissions ADD COLUMN audio_duration_seconds NUMERIC(10, 3);

ALTER TABLE submissions ADD CONSTRAINT uq_submissions_client_audio_id UNIQUE (client_audio_id);

UPDATE alembic_version SET version_num='b7012b9ff307' WHERE alembic_version.version_num = '74f86d4e7056';

-- Running upgrade b7012b9ff307 -> 4f4b4bf82370

CREATE TABLE transcriptions (
    id UUID NOT NULL, 
    submission_id UUID NOT NULL, 
    status VARCHAR(20) NOT NULL, 
    transcript TEXT, 
    language_code VARCHAR(20), 
    language_probability FLOAT, 
    provider VARCHAR(50) NOT NULL, 
    model VARCHAR(50), 
    mode VARCHAR(50), 
    provider_request_id VARCHAR(255), 
    error_message TEXT, 
    attempt_count INTEGER NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(submission_id) REFERENCES submissions (id) ON DELETE CASCADE, 
    UNIQUE (submission_id)
);

CREATE INDEX ix_transcriptions_status ON transcriptions (status);

UPDATE alembic_version SET version_num='4f4b4bf82370' WHERE alembic_version.version_num = 'b7012b9ff307';

-- Running upgrade 4f4b4bf82370 -> 19af3d0d9eb9

CREATE TABLE extractions (
    id UUID NOT NULL, 
    submission_id UUID NOT NULL, 
    status VARCHAR(20) NOT NULL, 
    provider VARCHAR(50) NOT NULL, 
    model VARCHAR(100), 
    error_message TEXT, 
    attempt_count INTEGER NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(submission_id) REFERENCES submissions (id) ON DELETE CASCADE, 
    UNIQUE (submission_id)
);

CREATE INDEX ix_extractions_status ON extractions (status);

ALTER TABLE observations ADD COLUMN evidence TEXT;

UPDATE alembic_version SET version_num='19af3d0d9eb9' WHERE alembic_version.version_num = '4f4b4bf82370';

-- Running upgrade 19af3d0d9eb9 -> 50ec37a29ef0

CREATE INDEX ix_observations_knowledge_type_id_observed_at ON observations (knowledge_type_id, observed_at);

UPDATE alembic_version SET version_num='50ec37a29ef0' WHERE alembic_version.version_num = '19af3d0d9eb9';

-- Running upgrade 50ec37a29ef0 -> d85a0d520a5c

CREATE TABLE questions (
    id UUID NOT NULL, 
    client_request_id VARCHAR(255), 
    knowledge_type_id UUID NOT NULL, 
    gap_state VARCHAR(20) NOT NULL, 
    target_latitude NUMERIC(9, 6) NOT NULL, 
    target_longitude NUMERIC(9, 6) NOT NULL, 
    nearest_known_place_name VARCHAR(255), 
    nearest_known_place_distance_meters FLOAT, 
    safety_critical BOOLEAN NOT NULL, 
    default_priority INTEGER NOT NULL, 
    staleness_severity_hours FLOAT NOT NULL, 
    gap_rank INTEGER NOT NULL, 
    question_text TEXT, 
    short_context TEXT, 
    status VARCHAR(20) NOT NULL, 
    provider VARCHAR(50) NOT NULL, 
    model VARCHAR(100), 
    error_message TEXT, 
    attempt_count INTEGER NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(knowledge_type_id) REFERENCES knowledge_type_config (id) ON DELETE RESTRICT, 
    UNIQUE (client_request_id)
);

CREATE INDEX ix_questions_status ON questions (status);

CREATE TABLE question_assignments (
    id UUID NOT NULL, 
    question_id UUID NOT NULL, 
    guide_id UUID NOT NULL, 
    status VARCHAR(20) NOT NULL, 
    assigned_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    answered_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(guide_id) REFERENCES guides (id) ON DELETE CASCADE, 
    FOREIGN KEY(question_id) REFERENCES questions (id) ON DELETE CASCADE
);

CREATE INDEX ix_question_assignments_guide_id_status ON question_assignments (guide_id, status);

UPDATE alembic_version SET version_num='d85a0d520a5c' WHERE alembic_version.version_num = '50ec37a29ef0';

-- Running upgrade d85a0d520a5c -> e166034d56a0

CREATE TABLE question_answers (
    id UUID NOT NULL, 
    question_id UUID NOT NULL, 
    assignment_id UUID NOT NULL, 
    guide_id UUID NOT NULL, 
    client_answer_id VARCHAR(255) NOT NULL, 
    answer_text TEXT NOT NULL, 
    submission_id UUID NOT NULL, 
    answered_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(assignment_id) REFERENCES question_assignments (id) ON DELETE CASCADE, 
    FOREIGN KEY(guide_id) REFERENCES guides (id) ON DELETE CASCADE, 
    FOREIGN KEY(question_id) REFERENCES questions (id) ON DELETE CASCADE, 
    FOREIGN KEY(submission_id) REFERENCES submissions (id) ON DELETE CASCADE, 
    UNIQUE (client_answer_id)
);

CREATE INDEX ix_question_answers_question_id ON question_answers (question_id);

ALTER TABLE submissions ADD COLUMN source_question_id UUID;

CREATE INDEX ix_submissions_source_question_id ON submissions (source_question_id);

ALTER TABLE submissions ADD FOREIGN KEY(source_question_id) REFERENCES questions (id) ON DELETE SET NULL;

UPDATE alembic_version SET version_num='e166034d56a0' WHERE alembic_version.version_num = 'd85a0d520a5c';

-- Running upgrade e166034d56a0 -> 386c20775143

ALTER TABLE submissions ADD COLUMN client_photo_id VARCHAR(255);

ALTER TABLE submissions ADD COLUMN photo_storage_key VARCHAR(500);

ALTER TABLE submissions ADD COLUMN photo_content_type VARCHAR(100);

ALTER TABLE submissions ADD COLUMN photo_original_filename VARCHAR(255);

ALTER TABLE submissions ADD COLUMN photo_size_bytes INTEGER;

ALTER TABLE submissions ADD CONSTRAINT uq_submissions_client_photo_id UNIQUE (client_photo_id);

UPDATE alembic_version SET version_num='386c20775143' WHERE alembic_version.version_num = 'e166034d56a0';

-- Running upgrade 386c20775143 -> 13e123a398eb

CREATE TABLE observation_moderation (
    id UUID NOT NULL, 
    observation_id UUID NOT NULL, 
    status VARCHAR(20) DEFAULT 'pending_review' NOT NULL, 
    decided_by VARCHAR(255), 
    decided_at TIMESTAMP WITH TIME ZONE, 
    rejection_reason VARCHAR(50), 
    rejection_note TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_observation_moderation_observation_id_observations FOREIGN KEY(observation_id) REFERENCES observations (id) ON DELETE CASCADE
);

ALTER TABLE observation_moderation ADD CONSTRAINT uq_observation_moderation_observation_id UNIQUE (observation_id);

CREATE INDEX ix_observation_moderation_status_created_at ON observation_moderation (status, created_at);

INSERT INTO observation_moderation (id, observation_id, status, created_at, updated_at)
        SELECT gen_random_uuid(), o.id, 'pending_review', now(), now()
        FROM observations o;

UPDATE alembic_version SET version_num='13e123a398eb' WHERE alembic_version.version_num = '386c20775143';

-- Running upgrade 13e123a398eb -> a1c4e9f27b30

CREATE TABLE place_questions (
    id UUID NOT NULL, 
    location_id UUID NOT NULL, 
    question_text TEXT NOT NULL, 
    normalized_text TEXT NOT NULL, 
    display_order INTEGER DEFAULT '0' NOT NULL, 
    source_urls JSONB, 
    research_batch_id UUID, 
    active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_place_questions_location_id_locations FOREIGN KEY(location_id) REFERENCES locations (id) ON DELETE CASCADE
);

ALTER TABLE place_questions ADD CONSTRAINT uq_place_questions_location_normalized UNIQUE (location_id, normalized_text);

CREATE TABLE place_question_research (
    id UUID NOT NULL, 
    location_id UUID NOT NULL, 
    status VARCHAR(20) DEFAULT 'pending' NOT NULL, 
    provider VARCHAR(50) DEFAULT 'anthropic' NOT NULL, 
    model VARCHAR(100), 
    error_message TEXT, 
    attempt_count INTEGER DEFAULT '0' NOT NULL, 
    researched_at TIMESTAMP WITH TIME ZONE, 
    started_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_place_question_research_location_id_locations FOREIGN KEY(location_id) REFERENCES locations (id) ON DELETE CASCADE
);

ALTER TABLE place_question_research ADD CONSTRAINT uq_place_question_research_location_id UNIQUE (location_id);

CREATE INDEX ix_place_question_research_status ON place_question_research (status);

CREATE TABLE reward_rules (
    id UUID NOT NULL, 
    rule_key VARCHAR(100) NOT NULL, 
    points INTEGER NOT NULL, 
    description TEXT, 
    active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

ALTER TABLE reward_rules ADD CONSTRAINT uq_reward_rules_rule_key UNIQUE (rule_key);

CREATE TABLE reward_ledger (
    id UUID NOT NULL, 
    guide_id UUID NOT NULL, 
    points INTEGER NOT NULL, 
    rule_key VARCHAR(100) NOT NULL, 
    idempotency_key VARCHAR(255) NOT NULL, 
    source_type VARCHAR(50) NOT NULL, 
    source_id UUID, 
    awarded_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_reward_ledger_guide_id_guides FOREIGN KEY(guide_id) REFERENCES guides (id) ON DELETE CASCADE
);

ALTER TABLE reward_ledger ADD CONSTRAINT uq_reward_ledger_idempotency_key UNIQUE (idempotency_key);

CREATE INDEX ix_reward_ledger_guide_id_awarded_at ON reward_ledger (guide_id, awarded_at);

ALTER TABLE submissions ADD COLUMN source_place_question_id UUID;

ALTER TABLE submissions ADD CONSTRAINT fk_submissions_source_place_question_id_place_questions FOREIGN KEY(source_place_question_id) REFERENCES place_questions (id) ON DELETE SET NULL;

CREATE INDEX ix_submissions_source_place_question_id ON submissions (source_place_question_id);


UPDATE alembic_version SET version_num='a1c4e9f27b30' WHERE alembic_version.version_num = '13e123a398eb';

-- Running upgrade a1c4e9f27b30 -> c3f7a91d4e28

ALTER TABLE place_questions ADD COLUMN contribution_kind VARCHAR(20) DEFAULT 'observation' NOT NULL;

ALTER TABLE place_questions ADD COLUMN context_note TEXT;

UPDATE place_questions SET active = false;

UPDATE place_question_research SET researched_at = NULL;

INSERT INTO reward_rules (id, rule_key, points, description, active)
                VALUES (gen_random_uuid(), 'place_question_photo', 50, 'Photographing a specific place you''re standing at', true)
                ON CONFLICT (rule_key) DO NOTHING;

INSERT INTO reward_rules (id, rule_key, points, description, active)
                VALUES (gen_random_uuid(), 'place_question_voice', 45, 'Recording your experience of a specific place', true)
                ON CONFLICT (rule_key) DO NOTHING;




UPDATE alembic_version SET version_num='c3f7a91d4e28' WHERE alembic_version.version_num = 'a1c4e9f27b30';

-- Running upgrade c3f7a91d4e28 -> d5b1c8e37a94

ALTER TABLE locations ADD COLUMN source VARCHAR(20) DEFAULT 'manual' NOT NULL;

ALTER TABLE locations ADD COLUMN place_kind VARCHAR(50);

ALTER TABLE locations ADD COLUMN source_urls JSONB;

ALTER TABLE locations ADD COLUMN discovery_cell_key VARCHAR(32);

CREATE INDEX ix_locations_discovery_cell_key ON locations (discovery_cell_key);

CREATE TABLE poi_discovery (
    id UUID NOT NULL, 
    cell_key VARCHAR(32) NOT NULL, 
    center_latitude NUMERIC(9, 6) NOT NULL, 
    center_longitude NUMERIC(9, 6) NOT NULL, 
    status VARCHAR(20) DEFAULT 'pending' NOT NULL, 
    provider VARCHAR(50) DEFAULT 'anthropic' NOT NULL, 
    model VARCHAR(100), 
    error_message TEXT, 
    attempt_count INTEGER DEFAULT '0' NOT NULL, 
    discovered_count INTEGER DEFAULT '0' NOT NULL, 
    discovered_at TIMESTAMP WITH TIME ZONE, 
    started_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (cell_key)
);

CREATE INDEX ix_poi_discovery_status ON poi_discovery (status);

UPDATE alembic_version SET version_num='d5b1c8e37a94' WHERE alembic_version.version_num = 'c3f7a91d4e28';

-- Running upgrade d5b1c8e37a94 -> e7a2c5f81b60

ALTER TABLE locations ADD COLUMN locality VARCHAR(255);

CREATE TABLE place_research_findings (
    id UUID NOT NULL, 
    location_id UUID NOT NULL, 
    research_id UUID, 
    topic VARCHAR(30) NOT NULL, 
    query_text TEXT NOT NULL, 
    provider VARCHAR(50) NOT NULL, 
    model VARCHAR(100), 
    summary TEXT NOT NULL, 
    source_urls JSONB, 
    source_titles JSONB, 
    retrieved_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(location_id) REFERENCES locations (id) ON DELETE CASCADE, 
    FOREIGN KEY(research_id) REFERENCES place_question_research (id) ON DELETE SET NULL
);

CREATE INDEX ix_place_research_findings_location ON place_research_findings (location_id, retrieved_at);

ALTER TABLE place_questions ADD COLUMN source_finding_id UUID;

ALTER TABLE place_questions ADD CONSTRAINT fk_place_questions_source_finding FOREIGN KEY(source_finding_id) REFERENCES place_research_findings (id) ON DELETE SET NULL;

UPDATE place_questions SET active = false;

UPDATE place_question_research SET researched_at = NULL;

UPDATE alembic_version SET version_num='e7a2c5f81b60' WHERE alembic_version.version_num = 'd5b1c8e37a94';

-- Running upgrade e7a2c5f81b60 -> a4d9e6c1f708

ALTER TABLE submissions ADD COLUMN location_source VARCHAR(30) DEFAULT 'unknown' NOT NULL;

ALTER TABLE submissions ADD COLUMN location_accuracy_meters NUMERIC(10, 2);

ALTER TABLE submissions ADD COLUMN location_captured_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE submissions ADD COLUMN location_label VARCHAR(255);

ALTER TABLE submissions ADD COLUMN location_evidence TEXT;

ALTER TABLE submissions ADD COLUMN occurred_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE submissions ADD COLUMN occurred_at_precision VARCHAR(20) DEFAULT 'unknown' NOT NULL;

ALTER TABLE submissions ADD COLUMN date_source VARCHAR(20) DEFAULT 'unknown' NOT NULL;

ALTER TABLE observations ADD COLUMN location_source VARCHAR(30);

ALTER TABLE observations ADD COLUMN location_evidence TEXT;

UPDATE alembic_version SET version_num='a4d9e6c1f708' WHERE alembic_version.version_num = 'e7a2c5f81b60';

COMMIT;

