BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 2db67d53c3ea

CREATE EXTENSION IF NOT EXISTS postgis;

CREATE EXTENSION IF NOT EXISTS pg_trgm;

INSERT INTO alembic_version (version_num) VALUES ('2db67d53c3ea') RETURNING alembic_version.version_num;

-- Running upgrade 2db67d53c3ea -> 6d02f3b18564

CREATE TABLE guides (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    phone_number VARCHAR(32), 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE knowledge_type_config (
    id UUID NOT NULL, 
    knowledge_type VARCHAR(100) NOT NULL, 
    display_name VARCHAR(255) NOT NULL, 
    freshness_window_hours INTEGER NOT NULL, 
    aging_threshold_hours INTEGER, 
    geographic_relevance_radius_meters INTEGER NOT NULL, 
    default_priority INTEGER NOT NULL, 
    safety_critical BOOLEAN NOT NULL, 
    active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (knowledge_type)
);

CREATE TABLE locations (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    latitude NUMERIC(9, 6) NOT NULL, 
    longitude NUMERIC(9, 6) NOT NULL, 
    geog geography(POINT,4326) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX idx_locations_geog ON locations USING gist (geog);

CREATE TABLE guide_locations (
    id UUID NOT NULL, 
    guide_id UUID NOT NULL, 
    latitude NUMERIC(9, 6) NOT NULL, 
    longitude NUMERIC(9, 6) NOT NULL, 
    geog geography(POINT,4326) NOT NULL, 
    accuracy_meters FLOAT, 
    recorded_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    received_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(guide_id) REFERENCES guides (id) ON DELETE CASCADE
);

CREATE INDEX idx_guide_locations_geog ON guide_locations USING gist (geog);

CREATE INDEX ix_guide_locations_guide_id_recorded_at ON guide_locations (guide_id, recorded_at);

CREATE TABLE submissions (
    id UUID NOT NULL, 
    guide_id UUID NOT NULL, 
    latitude NUMERIC(9, 6), 
    longitude NUMERIC(9, 6), 
    submitted_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    submission_type VARCHAR(100) NOT NULL, 
    raw_text TEXT, 
    status VARCHAR(50) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(guide_id) REFERENCES guides (id) ON DELETE CASCADE
);

CREATE TABLE observations (
    id UUID NOT NULL, 
    submission_id UUID NOT NULL, 
    guide_id UUID NOT NULL, 
    knowledge_type_id UUID NOT NULL, 
    latitude NUMERIC(9, 6), 
    longitude NUMERIC(9, 6), 
    geog geography(POINT,4326), 
    value JSONB NOT NULL, 
    confidence NUMERIC(3, 2), 
    observed_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(guide_id) REFERENCES guides (id) ON DELETE CASCADE, 
    FOREIGN KEY(knowledge_type_id) REFERENCES knowledge_type_config (id) ON DELETE RESTRICT, 
    FOREIGN KEY(submission_id) REFERENCES submissions (id) ON DELETE CASCADE
);

CREATE INDEX idx_observations_geog ON observations USING gist (geog);

UPDATE alembic_version SET version_num='6d02f3b18564' WHERE alembic_version.version_num = '2db67d53c3ea';

-- Running upgrade 6d02f3b18564 -> f73d25cbe979

INSERT INTO knowledge_type_config (id, knowledge_type, display_name, freshness_window_hours, aging_threshold_hours, geographic_relevance_radius_meters, default_priority, safety_critical, active) VALUES ('667863c0-3f34-451f-a018-ef59f95946b4', 'weather', 'Weather', 6, 3, 10000, 5, true, true);

INSERT INTO knowledge_type_config (id, knowledge_type, display_name, freshness_window_hours, aging_threshold_hours, geographic_relevance_radius_meters, default_priority, safety_critical, active) VALUES ('bc0f4f97-34d4-41dd-8e09-7aec95492b9e', 'trail_condition', 'Trail Condition', 72, 24, 2000, 4, false, true);

INSERT INTO knowledge_type_config (id, knowledge_type, display_name, freshness_window_hours, aging_threshold_hours, geographic_relevance_radius_meters, default_priority, safety_critical, active) VALUES ('f32ab051-d0eb-4e23-a558-0cb6ee0dcad5', 'snow_ice', 'Snow / Ice', 24, 12, 2000, 5, true, true);


UPDATE alembic_version SET version_num='f73d25cbe979' WHERE alembic_version.version_num = '6d02f3b18564';

-- Running upgrade f73d25cbe979 -> 267b83a63bb4

ALTER TABLE guides ADD COLUMN client_guide_id VARCHAR(255);

ALTER TABLE guides ADD CONSTRAINT uq_guides_client_guide_id UNIQUE (client_guide_id);

ALTER TABLE submissions ADD COLUMN client_submission_id VARCHAR(255);

ALTER TABLE submissions ADD CONSTRAINT uq_submissions_client_submission_id UNIQUE (client_submission_id);

UPDATE alembic_version SET version_num='267b83a63bb4' WHERE alembic_version.version_num = 'f73d25cbe979';

-- Running upgrade 267b83a63bb4 -> 74f86d4e7056

ALTER TABLE guide_locations ADD COLUMN client_location_id VARCHAR(255);

ALTER TABLE guide_locations ADD CONSTRAINT uq_guide_locations_client_location_id UNIQUE (client_location_id);

UPDATE alembic_version SET version_num='74f86d4e7056' WHERE alembic_version.version_num = '267b83a63bb4';

-- Running upgrade 74f86d4e7056 -> b7012b9ff307

ALTER TABLE submissions ADD COLUMN client_audio_id VARCHAR(255);

ALTER TABLE submissions ADD COLUMN audio_storage_key VARCHAR(500);

ALTER TABLE submissions ADD COLUMN audio_content_type VARCHAR(100);

ALTER TABLE submissions ADD COLUMN audio_original_filename VARCHAR(255);

ALTER TABLE submissions ADD COLUMN audio_size_bytes INTEGER;

ALTER TABLE submissions ADD COLUMN audio_duration_seconds NUMERIC(10, 3);

ALTER TABLE submissions ADD CONSTRAINT uq_submissions_client_audio_id UNIQUE (client_audio_id);

UPDATE alembic_version SET version_num='b7012b9ff307' WHERE alembic_version.version_num = '74f86d4e7056';

-- Running upgrade b7012b9ff307 -> 4f4b4bf82370

CREATE TABLE transcriptions (
    id UUID NOT NULL, 
    submission_id UUID NOT NULL, 
    status VARCHAR(20) NOT NULL, 
    transcript TEXT, 
    language_code VARCHAR(20), 
    language_probability FLOAT, 
    provider VARCHAR(50) NOT NULL, 
    model VARCHAR(50), 
    mode VARCHAR(50), 
    provider_request_id VARCHAR(255), 
    error_message TEXT, 
    attempt_count INTEGER NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(submission_id) REFERENCES submissions (id) ON DELETE CASCADE, 
    UNIQUE (submission_id)
);

CREATE INDEX ix_transcriptions_status ON transcriptions (status);

UPDATE alembic_version SET version_num='4f4b4bf82370' WHERE alembic_version.version_num = 'b7012b9ff307';

-- Running upgrade 4f4b4bf82370 -> 19af3d0d9eb9

CREATE TABLE extractions (
    id UUID NOT NULL, 
    submission_id UUID NOT NULL, 
    status VARCHAR(20) NOT NULL, 
    provider VARCHAR(50) NOT NULL, 
    model VARCHAR(100), 
    error_message TEXT, 
    attempt_count INTEGER NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(submission_id) REFERENCES submissions (id) ON DELETE CASCADE, 
    UNIQUE (submission_id)
);

CREATE INDEX ix_extractions_status ON extractions (status);

ALTER TABLE observations ADD COLUMN evidence TEXT;

UPDATE alembic_version SET version_num='19af3d0d9eb9' WHERE alembic_version.version_num = '4f4b4bf82370';

-- Running upgrade 19af3d0d9eb9 -> 50ec37a29ef0

CREATE INDEX ix_observations_knowledge_type_id_observed_at ON observations (knowledge_type_id, observed_at);

UPDATE alembic_version SET version_num='50ec37a29ef0' WHERE alembic_version.version_num = '19af3d0d9eb9';

-- Running upgrade 50ec37a29ef0 -> d85a0d520a5c

CREATE TABLE questions (
    id UUID NOT NULL, 
    client_request_id VARCHAR(255), 
    knowledge_type_id UUID NOT NULL, 
    gap_state VARCHAR(20) NOT NULL, 
    target_latitude NUMERIC(9, 6) NOT NULL, 
    target_longitude NUMERIC(9, 6) NOT NULL, 
    nearest_known_place_name VARCHAR(255), 
    nearest_known_place_distance_meters FLOAT, 
    safety_critical BOOLEAN NOT NULL, 
    default_priority INTEGER NOT NULL, 
    staleness_severity_hours FLOAT NOT NULL, 
    gap_rank INTEGER NOT NULL, 
    question_text TEXT, 
    short_context TEXT, 
    status VARCHAR(20) NOT NULL, 
    provider VARCHAR(50) NOT NULL, 
    model VARCHAR(100), 
    error_message TEXT, 
    attempt_count INTEGER NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(knowledge_type_id) REFERENCES knowledge_type_config (id) ON DELETE RESTRICT, 
    UNIQUE (client_request_id)
);

CREATE INDEX ix_questions_status ON questions (status);

CREATE TABLE question_assignments (
    id UUID NOT NULL, 
    question_id UUID NOT NULL, 
    guide_id UUID NOT NULL, 
    status VARCHAR(20) NOT NULL, 
    assigned_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    answered_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(guide_id) REFERENCES guides (id) ON DELETE CASCADE, 
    FOREIGN KEY(question_id) REFERENCES questions (id) ON DELETE CASCADE
);

CREATE INDEX ix_question_assignments_guide_id_status ON question_assignments (guide_id, status);

UPDATE alembic_version SET version_num='d85a0d520a5c' WHERE alembic_version.version_num = '50ec37a29ef0';

-- Running upgrade d85a0d520a5c -> e166034d56a0

CREATE TABLE question_answers (
    id UUID NOT NULL, 
    question_id UUID NOT NULL, 
    assignment_id UUID NOT NULL, 
    guide_id UUID NOT NULL, 
    client_answer_id VARCHAR(255) NOT NULL, 
    answer_text TEXT NOT NULL, 
    submission_id UUID NOT NULL, 
    answered_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(assignment_id) REFERENCES question_assignments (id) ON DELETE CASCADE, 
    FOREIGN KEY(guide_id) REFERENCES guides (id) ON DELETE CASCADE, 
    FOREIGN KEY(question_id) REFERENCES questions (id) ON DELETE CASCADE, 
    FOREIGN KEY(submission_id) REFERENCES submissions (id) ON DELETE CASCADE, 
    UNIQUE (client_answer_id)
);

CREATE INDEX ix_question_answers_question_id ON question_answers (question_id);

ALTER TABLE submissions ADD COLUMN source_question_id UUID;

CREATE INDEX ix_submissions_source_question_id ON submissions (source_question_id);

ALTER TABLE submissions ADD FOREIGN KEY(source_question_id) REFERENCES questions (id) ON DELETE SET NULL;

UPDATE alembic_version SET version_num='e166034d56a0' WHERE alembic_version.version_num = 'd85a0d520a5c';

-- Running upgrade e166034d56a0 -> 386c20775143

ALTER TABLE submissions ADD COLUMN client_photo_id VARCHAR(255);

ALTER TABLE submissions ADD COLUMN photo_storage_key VARCHAR(500);

ALTER TABLE submissions ADD COLUMN photo_content_type VARCHAR(100);

ALTER TABLE submissions ADD COLUMN photo_original_filename VARCHAR(255);

ALTER TABLE submissions ADD COLUMN photo_size_bytes INTEGER;

ALTER TABLE submissions ADD CONSTRAINT uq_submissions_client_photo_id UNIQUE (client_photo_id);

UPDATE alembic_version SET version_num='386c20775143' WHERE alembic_version.version_num = 'e166034d56a0';

-- Running upgrade 386c20775143 -> 13e123a398eb

CREATE TABLE observation_moderation (
    id UUID NOT NULL, 
    observation_id UUID NOT NULL, 
    status VARCHAR(20) DEFAULT 'pending_review' NOT NULL, 
    decided_by VARCHAR(255), 
    decided_at TIMESTAMP WITH TIME ZONE, 
    rejection_reason VARCHAR(50), 
    rejection_note TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_observation_moderation_observation_id_observations FOREIGN KEY(observation_id) REFERENCES observations (id) ON DELETE CASCADE
);

ALTER TABLE observation_moderation ADD CONSTRAINT uq_observation_moderation_observation_id UNIQUE (observation_id);

CREATE INDEX ix_observation_moderation_status_created_at ON observation_moderation (status, created_at);

INSERT INTO observation_moderation (id, observation_id, status, created_at, updated_at)
        SELECT gen_random_uuid(), o.id, 'pending_review', now(), now()
        FROM observations o;

UPDATE alembic_version SET version_num='13e123a398eb' WHERE alembic_version.version_num = '386c20775143';

COMMIT;

